{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@controllers": "./src/controllers",
                    "@entities": "./src/entities",
                    "@errors": "./src/errors",
                    "@migrations": "./src/migrations",
                    "@repositories": "./src/repositories",
                    "@routes": "./src/routes",
                    "@services": "./src/services",
                    "@middlewares": "./src/middlewares",
                    "@db": "./src/db"
                }
            }
        ],
        "babel-plugin-transform-typescript-metadata",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ],
    "ignore": [
        "**/*.spec.ts"
    ]
}